.App-sidebar {
    width: 60px; /* Default collapsed width */
    transition: width 0.3s ease;
    position: fixed;
}

.App-sidebar-open {
    width: 240px; /* Width when the sidebar is open */
}

.App-sidebar-paper {
    width: inherit; /* Make the paper inherit the width of the drawer */
    transition: width 0.3s ease;
}

.App-sidebar-paper-open {
    width: inherit;
}

.App-content {
    margin-left: 60px; /* Default margin to match collapsed sidebar width */
    transition: margin-left 0.3s ease;
    flex-grow: 1; /* Take up the remaining space */
    padding: 16px; /* Add some padding to the content */
}

.App-sidebar-open + .App-content {
    margin-left: 240px; /* Margin when the sidebar is expanded */
}